<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <a href="/" class="back-home">← Home</a>

    <h1>{{ title }}</h1>

    <div class="character-grid">
        {% for character in characters %}
        <div class="character-card">
            <h2>{{ character.name }}</h2>
            <p><strong>Planeet:</strong> {{ character.planet }}</p>
            <a href="/characters/{{ type }}/{{ character.id }}">Bekijk details →</a>
        </div>
        {% endfor %}
    </div>

</body>

</html>