<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Marvel Database</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>Marvel Database</h1>

    <div class="container">
        <div class="marvel-logo">
            <img src="/static/images/marvel.jpg" alt="Marvel">
        </div>

        <nav class="menu">
            <a href="/films">Films</a>
            <a href="/heroes">Helden</a>
            <a href="/villains">Schurken</a>
            <a href="/planets">Planeten</a>
        </nav>
    </div>

</body>

</html>