<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ planet.name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <a href="/" class="back-home">← Home</a>

    <h1>{{ planet.name }}</h1>

    <div class="planet-detail">
        <img src="/static/images/{{ planet.image }}" alt="{{ planet.name }}" class="detail-image">
        <p>This planet is part of the Marvel Universe.</p>
    </div>

    <br>
    <a href="/planets">← Back to overview</a>
</body>

</html>